<section class="admin-root">
  <h1>Admin control panel</h1>

  <ul>
    <li><%= link_to "Manage events and projects", admin_events_path %></li>
    <li><%= link_to "Manage tags", admin_tags_path %></li>
    <li><%= link_to "Edit your account", edit_admin_registration_path %></li>
  </ul>
</section>
