@mixin button {
  display: inline-block;
  background: $primary-colour;
  border-radius: 4px;

  padding: 13px 15px;
  font-size: 15px;

  color: $white;
  text-decoration: none;

  &:hover, &:active {
    background: $blue;
  }

  @include media-down(tablet) {
    padding: 17px 23px;
    font-size: 25px;
  }
}

.button {
  @include button;
}
