@mixin button($size: medium) {
  display: inline-block;
  background: $primary-colour;
  border-radius: 4px;

  @if $size == large {
    padding: 13px 15px;
    font-size: 15px;

    @include media-down(tablet) {
      padding: 17px 23px;
      font-size: 25px;
    }
  } @else if $size == medium {
    padding: 9px 11px;
    font-size: 15px;

    @include media-down(tablet) {
      padding: 12px 17px;
      font-size: 19px;
    }
  } @else if $size == small {
    padding: 13px 15px;
    font-size: 15px;
  }

  color: $white;
  text-decoration: none;

  &:hover, &:active {
    background: $blue;
  }
}

.button {
  @include button;
}
