.formtastic {
  .inputs {
    margin: 30px 0;

    .inline-hints {
      margin-left: 0;
    }
  }

  legend {
    margin: 0 0 20px;
    font-weight: 600;
    font-size: 19px;

    @include media-down(tablet) {
      font-size: 27px;
    }
  }

  .boolean {
    label {
      padding-left: 0;
    }
  }

  .input {
    .label {
      display: block;
      width: 100%;
      margin: 0 0 8px;
    }
  }

  .stringish, .text, .select {
    input, textarea, select {
      width: 100%;
      font-size: 19px;
      font-family: $body-font-stack;
      padding: 6px;
      border: 1px solid #aaa;

      @include media-down(tablet) {
        font-size: 26px;
        padding: 8px;
      }
    }

    &.error {
      input, textarea, select {
        border-color: $primary-colour;
        border-width: 2px;
      }
    }
  }

  .text textarea {
    font-size: 16px;
    height: 200px;
    max-height: 500px;
    resize: vertical;
  }

  .inline-errors {
    margin-left: 0;
  }

  .actions {
    padding-left: 0;

    button {
      @include button(medium);
    }
    a {
      display: inline-block;
      margin: 0 25px;
    }
  }

  &.admin-form {
    .actions {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #eee;
    }

    .stringish, .text, .select {
      input, textarea, select {
        @include media-down(tablet) {
          font-size: 13px;
        }
      }
    }

    .inputs {
      margin: 15px 0;
    }

    .inline-hints {
      font-size: 14px;
    }

    .fields {
      background: #eee;
      padding: 10px;
      margin-bottom: 5px;

      .input {
        margin: 0;
        padding: 0;

        label {
          font-size: 13px;
          font-weight: 600;
          width: 25%;
        }
        input, select {
          width: 75%;
        }

        &.boolean, .inline-hints {
          label {
            width: 100%;
          }
          input {
            width: auto;
          }

          padding-left: 25%;
          width: 75%;
        }
      }
    }
    .add_nested_fields, .remove_nested_fields {
      @include button(small);
    }
    
  }
}
