body {
  font-size: 17px;
  line-height: 1.2;
  font-family: $body-font-stack;

  @include media-down(tablet) {
    font-size: $body-font-size;
  }
}

h1 {
  font-weight: normal;
  font-size: 35px;
  padding: 10px 0;
  line-height: 1.2;

  @include media-down(tablet) {
    font-size: 47px;
    padding: 15px 0;
  }
}

h2 {
  font-weight: normal;
  font-size: 21px;
  padding: 7px 0;

  @include media-down(tablet) {
    font-size: 25px;
    padding: 15px 0;
  }
}

h3 {
  font-size: 19px;
  font-weight: bold;
  padding: 7px 0;
}


a {
  &:link, &:visited {
    color: $primary-colour;
  }
  &:hover, &:active {
    color: $primary-hover-colour;
  }
}
