body {
  font-size: $body-font-size;
}

h1 {
  font-weight: normal;
  font-size: 35px;
  padding: 10px 0;

  @include media-down(tablet) {
    font-size: 47px;
    padding: 15px 0;
  }
}

h2 {
  font-weight: normal;
  font-size: 21px;
  padding: 7px 0;

  @include media-down(tablet) {
    font-size: 25px;
    padding: 15px 0;
  }
}

h3 {
  font-size: 19px;
  font-weight: bold;
  padding: 7px 0;
}
