$body-font-size: 19px;
$body-font-stack: 'Open Sans', Helvetica, Arial, sans-serif;

$primary-colour: #e34f50;
$text-colour: #444;

$white: #fff;
$blue: #7EC7E3;

$silver-award-colour: #fbfbfb;
$gold-award-colour: #faf3e7;
$special-mention-colour: #dbc4e8;
