<nav class="tags">
  <h2>See projects by tag</h2>
  <div class="tag-cloud">
    <% tag_cloud(top_tags_for(projects), %w(frequency-1 frequency-2 frequency-3 frequency-4)) do |tag, css_class| %>
      <%= link_to tag.name, event_projects_list_path(event, tag: tag.name), class: css_class %>
    <% end %>
  </div>
</nav>
