<% content_for(:title) { "Edit your project - " } %>
<%= render partial: 'events/event_header' %>

<section class="project-form">
  <h1>Edit your project</h1>

  <%= render partial: 'form' %>
</section>
