<% content_for(:title) { "Submit your project - " } %>
<%= render partial: 'events/event_header' %>

<section class="project-form">
  <h1>Submit your project</h1>

  <p class="introduction">
    To submit your project, you'll need to tell us about your team and what you've made.
    <% if event.require_review? %>
      Once we've reviewed it, we'll create a page for it on the event website.
    <% else %>
      We'll create a page for it on the event website.
    <% end %>
  </p>

  <% if event.require_review? %>
    <div class="alert">
      <p>
        If you've already submitted your project but it hasn't appeared on the site yet,
        don't worry - it may take a while for your project to be reviewed.
      </p>
      <p>
        Please don't submit your project more than once.
      </p>
    </div>
  <% end %>

  <%= render partial: 'form' %>
</section>
