<% content_for(:title) { "Submit your project - " } %>
<%= render partial: 'events/event_header' %>

<section class="project-form">
  <h1>Submit your project</h1>

  <p class="introduction">
    To submit your project, you'll need to tell us about your team and what you've made. We'll create a page for it on the event website.
  </p>

  <%= render partial: 'form' %>
</section>
