<%= render :partial => 'events/event_header' %>

<section class="centre">
  <h1><%= centre.name %></h1>

  <% if centre.visible_projects.any? %>
    <%= render partial: 'projects/project_list', locals: { projects: centre.visible_projects } %>
  <% else %>
    <p>
      We don't have any projects yet.
      <%= link_to "Add yours!", new_event_project_path(event) %>
    </p>
  <% end %>
</div>
